<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a href="#" class="navbar-brand">
        Книжный клуб
      </a>
      <nav class="navbar-nav">
        <a href="#" class="nav-link active">Список встреч</a>
        <a href="#" class="nav-link">Список книг</a>
        <a href="#" class="nav-link">Поиск</a>
      </nav>
    </div>
  </header>

  <main role="container" class="container">
    {{outlet}}
  </main>
</div>