<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="navbar navbar-expand-sm bg-dark navbar-dark text-white">
      {{#link-to "index" class="navbar-brand"}}
         Книжный клуб
      {{/link-to}}
      <nav class="navbar-nav">
        <a href="#" class="nav-link active">Список встреч</a>
        {{#link-to "book" class="nav-link"}}
          Список книг
        {{/link-to}}
        {{#link-to "speaker" class="nav-link"}}
          Список участников
        {{/link-to}}
        {{#link-to "report" class="nav-link"}}
          Список докладов
        {{/link-to}}
          {{#if session.isAuthenticated}}
            <a href="#" onclick={{action "logout"}} class="nav-link">Logout</a>
          {{else}}
            {{#link-to "register" class="nav-link"}}Register{{/link-to}}
            {{#link-to "login" class="nav-link"}}Login{{/link-to}}
          {{/if}}
      </nav>
    </div>
  </header>

  <main role="container" class="container-fluid">
    {{outlet}}
  </main>
</div>