<div class="row">
  <div class="col-2 mr-3 h-100 p-3 my-3 border text-black">
    <h4>Список книг:</h4>
    <div></div>
    {{input value=search placeholder="Поиск" class="form-control my-1"}}

    <ul class="list-group">
      {{#each model as |book|}}
        {{#link-to "book.detail" book.id class="list-group-item my-1 border"}}
          {{book.title}}
        {{/link-to}}
      {{/each}}
    </ul>

    {{#link-to "book.create" class="btn btn-primary my-1 btn-block"}}
      add book
    {{/link-to}}
  </div>

  <div class="col mh-100 p-3 my-3 border text-black">
    {{outlet}}
  </div>

</div>
