<div class="row h-100">
    <div class="col-sm-12 my-auto">
        <div class="card card-block w-25 mx-auto">
          <h3>Login</h3>
          {{login-form user=model errors=errors onSubmit=(action "login")}}
        </div>
    </div>
</div>